{{#each model.data.children as |result|}}
<h3>{{result.data.title}}</h3>
<p>domain: {{result.data.domain}}</p>
<p>ups: {{result.data.ups}} downs: {{result.data.downs}}</p>
<p>comments: {{result.data.num_comments}}</p>
{{/each}}
